<div class="explore-meme-container">
    <div class="image-wrapper">
        <div class="settings" (click)="openSettingsDialog()">
            <img src="../../../assets/icons/settings.png" height="30px" class="settings-icon">
        </div>
        <div>
            <app-button-component iconPath="../../../assets/icons/previous-button.png" buttonText=""
                (clickItemEvent)="changeMeme(false)" [hidden]="currentIndex === 0"></app-button-component>
        </div>
        <div class="image-container" #imageContainer>
            <div class="image-header" (click)="editModeEnabled = true">
                <div *ngIf="!editModeEnabled" [innerHtml]="memeHeader"></div>
                <ckeditor *ngIf="editModeEnabled" [editor]="Editor"
                [(ngModel)]="memeHeader"
                [config]="{uiColor: '#a4a4a4'}"
                debounce="500"
                ></ckeditor>
                <app-button-component buttonText="Done" iconPath="../../../assets/images/done.png"
                    (clickItemEvent)="editModeEnabled = false" *ngIf="editModeEnabled"></app-button-component>
            </div>
            <img class="main-image" [src]="imageSrc" (load)="onImageLoad()"
                (error)="imageSrc = './../../assets/images/sample_meme_2.jpg'">
        </div>
        <app-button-component iconPath="../../../assets/icons/next-button.png" buttonText=""
            [iconPosition]="iconPosition.RIGHT" (clickItemEvent)="changeMeme(true)"></app-button-component>
    </div>

    <div class="action-button-wrapper">
        <div class="action-button like" (click)="toggleLike(true)">
            Like
            <i [ngClass]="isLiked && actionDone  ? 'bi bi-hand-thumbs-up-fill' : 'bi bi-hand-thumbs-up'"></i>
        </div>
        <div class="action-button download" (click)="downloadImage()">
            Downloads
            <i class="bi bi-download"></i>
        </div>
        <div class="action-button dis-like" (click)="toggleLike(false)">
            DisLike
            <i [ngClass]="!isLiked && actionDone ? 'bi bi-hand-thumbs-down-fill' : 'bi bi-hand-thumbs-down'"></i>
        </div>
    </div>
</div>