body {
    background: #222;
    color: #fff;
    position: relative;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    padding-bottom: 3em;
}
.page-wrap {
    display: inline-block;
    margin: 2em auto;
    text-align: center;
    width: 100%;
    .canvas-wrap {
        width: 100%;
        text-align: center;
        canvas {
            background-color: #eee;
            // opacity: 0;
            transition: opacity 0.3s;
            &.show {
                opacity: 1;
            }
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin:auto;
        }
        margin-top: 50px;
        position: relative;
    }
}

.controls {
    &__input {
        display: block;
        margin: 0 auto;
        background: none;
        border: none;
        font-size: 1em;
        padding-bottom: 0.5em;
        border-bottom: 2px solid #ccc;
        text-align: center;
        outline: none;
        color: #fff;
    }
    &__btn {
        background: dodgerblue;
        color: #fff;
        border: none;
        font-size: 1em;
    }
    &__label {
        display: block;
        font-size: 0.8em;
        padding-top: 0.3em;
        margin-bottom: 2em;
    }
}

#canvasID {
    z-index: 9999;
}
