
<h1>Overlay text on canvas image and save as base64</h1>
<div class="page-wrap">
  <div class="controls">
    <input class="controls__input" type="file" id="imageLoader" name="imageLoader" (change)="handleImage($event)" />
    <label class="controls__label" for="name">First, choose an image.</label>
    
    <input class="controls__input1" id="name" type="text" (keyup)="DynamicText($event)" [(ngModel)]="text_title"/>
    <label class="controls__label" for="name">Overlay Text</label>
  </div>
  <div id="canvas-wrap">
     <canvas style="display:inline" id="imageCanvas" width=400px height=400px (click)="canvasClicked($event)">
        <canvas id="canvasID"></canvas>
    </canvas> 
  </div>
  
</div>